.user-panel {
    display: none !important;
}

.sidebar > nav > ul > .nav-item:first-child{
    display: none !important;
}

.main-footer {
    text-align: center;
}

#jazzy-usermenu > .dropdown-header {
    display: none !important;
}

#jazzy-usermenu > .dropdown-footer {
    display: none !important;
}