.user-panel {
    display: none !important;
}

.sidebar > nav > ul > .nav-item:first-child{
    display: none !important;
}

.main-footer {
    text-align: center;
}

#jazzy-usermenu > .dropdown-header {
    display: none !important;
}

#jazzy-usermenu > .dropdown-footer {
    display: none !important;
}

table caption {
caption-side: top !important;
text-align: center;
font-weight: bold;
padding: 0.5rem;
}